<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h1>User info</h1>
			<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" %>
			<table class="table">
					<tr>
						<th scope="col">name</th>
						<td scope="row"><%= @user.name %></td>
						<th scope="col">introduction</th>
						<td scope="row"><%= @user.introduction %></td>
					</tr>
			</table>
			<%= link_to "edit", edit_user_path(current_user.id) %>

			<h1>New movie</h1>
			 <%= form_for(@movie) do |f| %>
			   <div>title</div>
			   <%= f.text_field :title, class:"col-xs-12" %>

			   <div>opinion</div>
			   <%= f.text_area :body, class:"col-xs-12" %>

			   <%= f.submit 'Create Book', class:"col-xs-12" %>
			 <% end %>
     </div>
		<div class="col-xs-9">
		  <h1>Movies</h1>
		  <table class="table">
		    <thead>
		      <tr>
						<th scope="col"></th>
		        <th scope="col">title</th>
		        <th scope="col">opinion</th>
		      </tr>
		    </thead>
		    <tbody>
		      <% @movies.each do |movie| %>
		        <tr>
		          <td>
                <%= link_to user_path(movie.user) do %>
									<%= attachment_image_tag movie.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
                <% end %>
								</td>
		          <td><%= link_to movie.title, movie_path(movie) %></td>
		          <td><%= movie.body %></td>
		        </tr>
		      <% end %>
		    </tbody>
		  </table>
		</div>
 </div>
</div>
